.App {
  text-align: center;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  flex: 1;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
}

.App-container {
  display: flex;
  justify-content: center;
  min-width: 100vw;
}

.App-link,
.App-link:active,
.App-link:visited {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.App-link:hover {
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
