.Settings {
  display: flex;
  flex-direction: column;
}

.Greedy {
  margin-top: 20px;
}

.Settings .Radio-input, .Settings .Greedy {
  font-size: 20px;
  color: rgb(34,50,84);
  padding: 10px;
  opacity: 0.85;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  min-width: 200px;
}

.Settings .Radio-input:hover, .Settings .Greedy:hover {
  background: rgba(34,50,84,0.1);
  border-radius: 20px 0px 20px 20px;
  opacity: 1;
  -webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}