.Grid {
  width: 30vw;
  display: grid;
  grid-template-columns: repeat(auto-fill, 25%);
  grid-auto-rows: 1fr;
}

.Grid::before {
  content: '';
  width: 0;
  padding-bottom: 100%;
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

.Grid > *:first-child {
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

.Grid > * {
  background: rgba(0,0,0,0.1);
  border: 3px white solid;
}
