.App {
  text-align: center;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  flex: 1;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
}

.App-container {
  display: flex;
  justify-content: center;
  min-width: 100vw;
}

.App-modal {
  background-color: white;
  padding: 20px 20px;
  border-radius: 30px 0px 30px 30px;
  position: absolute;
  z-index: 99;
  right: 0;
  top: 0;
  margin-top: 125px;
  margin-right: 40px;
}

.App-modal-show {
  height: auto;
  opacity: 1;
  visibility: visible;
  -webkit-transition: height 1s, opacity 1s;
	transition: height 1s, opacity 1s;
}

.App-modal-hide {
  height: 0;
  opacity: 0;
  visibility: hidden; 
}

.App-link,
.App-link:active,
.App-link:visited {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.App-link:hover {
  color: white;
}
