.Shuffle {
  display: flex;
  flex-direction: column;
  right: calc(12vh + 180px);
}

.Shuffle .Radio-input {
  font-size: 20px;
  color: rgb(34,50,84);
  padding: 10px;
  opacity: 0.85;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  min-width: 200px;
}

.Shuffle .Radio-input:hover {
  background: rgba(34,50,84,0.1);
  border-radius: 20px 0px 20px 20px;
  opacity: 1;
  -webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

.Shuffle h1 {
  color: rgb(34,50,84);
  margin: 5px auto;
  font-size: 25px;
}

.Shuffle h1:not(:first-child) {
  margin-top: 25px;
}

.Shuffle .Validate {
  font-size: 45px;
}

.Buttons {
  display: flex;
}