.Statistics {
  max-width: 400px;
  font-size: 20px;
  color: rgb(34,50,84);
  right: 60px;
  flex-direction: column;
}

.Statistics .Statistics-el {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8px;
  width: 100%;
}

.Statistics .Statistics-el span:first-child {
  margin-right: 50px;
}

@media (max-width: 500px) {
  .Statistics * {
    margin: 0 10px;
  }

  .Statistics .Statistics-el span:first-child {
    margin-right: 0;
  }
}